# Environment / Secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Airflow
airflow/logs/
airflow/.airflowignore/

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Logs
logs/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Power BI temporary files
*.tmp